{% extends "base.html" %}

{% block content %}
<div class="container">
		<div class="row" style="margin-top: 10px;">
			<div class="col-5">
				<img src="{{ city.image.url }}" class="img-fluid">
			</div>
			<div class="col">
				<div class="jumbotron">
					<h1 class="display-4">{{ city.name }}</h1>
                    <h4 class="card-title">{{ city.country.name }} <i class="{{ city.country.flag_css }}"></i></h4>
					
                    <h5 class="card-title">Author: {{ city.user }}</h5>
                    <h5 class="card-title">Created at: {{ city.created_date }}</h5>

					<hr class="my-4">
					<p>{{ city.description }}</p>
				</div>
			</div>			
		</div>
		<hr>

		{% for comment in comments %}

		<div class="comment">
			<div class="date">{{ comment.created_date }}</div>
			<strong>{{ comment.user }}</strong>
			<p>{{ comment.text }}</p>

			<form action="{% url 'like_comment' city.id comment.id %}" class="porst-form" method="POST">
				{% csrf_token %}

				{% for key, value in likes.items %}
					{% if key == comment.id %}

						{% if comment.id in list %}
							<button type="submit" class="save btn btn-dark">
								👍 {{ value }}
							</button>

						{% else %}
							<button type="submit" class="save btn btn-primary">
								👍 {{ value }}
							</button>
						{% endif %}
					
					{% endif %}
				{% endfor %}

			</form>
		</div>

		{% endfor %}

		<div class="container">
			<h2>Leave your comment</h2>
			<form method="POST" action="{% url 'create_new_comment' id=city.id %}" class="porst-form">

				{% csrf_token %}

				{{ form }}

				<button type="submit" class="save btn btn-dark">Save</button>
			</form>					
		</div>		
	</div>

{% endblock %}